<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
        
  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/blog.html">Blog</a>
      </li>
      <li>
        <a href="/team.html">Team</a>
      </li>
      <li>
        <a href="/contact.html"><span>Contact</span></a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->
