<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    {{ Red de Innovación y Cooperación Académica Ecuador-China. Después de varios encuentros académicos, surgió la idea de crear una Red de Científicos Ecuador-China.
    Formalizada el 24 de enero de 2024 en la Embajada de Ecuador en China y consolidada oficialmente el 27 de agosto del mismo año.
    REDICEC fomenta el intercambio de conocimientos y la investigación conjunta, conectando a investigadores y académicos de ambos países para desarrollar
    proyectos innovadores }}
  </body>

  {% include footer.html %}
</html>
